<h1>Admin Dashboard</h1>

<main class="admin-dash jumbotron">
  <section class="admin-info panel">
    <p>Products:</p>
    <p><%= @product_count %></p>
  </section>
  <section class="admin-info panel">
    <p>Categories:</p>
    <p><%= @category_count %><p>
  </section>
</main>
