<h1>Admin Dashboard</h1>

<main class="jumbotron">
  <section class="panel">
    <p>Total number of products:</p>
    <p><%= @product_count %></p>
  </section>
  <section class="panel">
    <p>Total number of categories:</p>
    <p><%= @category_count %><p>
  </section>
</main>
