<h1>Admin &raquo; Dashboard</h1>

<main class="admin-dash jumbotron">
  <section class="admin-info panel" onclick="window.location='<%= admin_products_path %>'">
    <p class="item-type">Products</p>
    <span class="item-count"><%= @product_count %></span>
  </section>
  <section class="admin-info panel" onclick="window.location='<%= admin_categories_path %>'">
    <p class="item-type">Categories</p>
    <span class="item-count"><%= @category_count %><span>
  </section>
</main>
